*,
*::before,
*::after {
    align-items: center;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    align-items: center;
    border: 1px solid black;
    max-width: 374.5px;
    margin:auto;
}

table {
    align-items: center;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    padding-top: -40px;
    border-collapse: collapse;
}


table thead tr th {
    border: 1px solid black;
    padding-left: 41px;
    padding-right: 41px;
    margin: auto;
}